Repository gchq/Palisade: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.docker.yaml, azure-pipelines.infra.yaml

Path conditions:
  azure-pipelines.docker.yaml: any of: example/deployment/local-docker, azure-pipelines.docker.yaml
  azure-pipelines.infra.yaml: any of: example/deployment/azure-infra/terraform, azure-pipelines.infra.yaml

remove trigger
  azure-pipelines.docker-template.yaml
Due: none

add variables
  azure-pipelines.docker.yaml
Due: azure-pipelines.docker.yaml

add quotes
  azure-pipelines.docker-template.yaml
Due: none

remove vars
  azure-pipelines.docker-template.yaml
Due: none

update reg and chmod
  example/deployment/Kubernetes/config-service.yaml
  example/deployment/Kubernetes/configure-services.yaml
  example/deployment/Kubernetes/data-service.yaml
  example/deployment/Kubernetes/etcd.yaml
  example/deployment/Kubernetes/palisade-service.yaml
  example/deployment/Kubernetes/policy-service.yaml
  example/deployment/Kubernetes/resource-service.yaml
  example/deployment/Kubernetes/rest-redirector.yaml
  example/deployment/Kubernetes/user-service.yaml
  example/deployment/local-docker/example-docker-services/configure-example/Dockerfile
  example/deployment/local-docker/example-docker-services/configure-services/Dockerfile
Due: azure-pipelines.docker.yaml

gh-114-started on aws-emr example configurator
  example/deployment/AWS-EMR/example-aws-emr-configurator/pom.xml
  example/deployment/AWS-EMR/example-aws-emr-configurator/src/main/java/uk/gov/gchq/palisade/example/aws_emr/AwsEmrExampleConfigurator.java
  example/deployment/AWS-EMR/example-aws-emr-runner/pom.xml
  example/deployment/AWS-EMR/example-aws-emr-runner/src/main/java/uk/gov/gchq/palisade/example/AwsEmrMapReduceExample.java
  example/deployment/AWS-EMR/pom.xml
  example/deployment/pom.xml
Due: none

move build outputs into checked out files
  azure-pipelines.docker-template.yaml
  azure-pipelines.maven.yaml
Due: none

change copy path
  azure-pipelines.maven.yaml
Due: none

fix indent
  azure-pipelines.maven.yaml
Due: none

remvove none
  azure-pipelines.maven.yaml
Due: none

fix aks network profile
  example/deployment/azure-infra/terraform/aks/main.tf
  example/deployment/azure-infra/terraform/aks/variables.tf
Due: azure-pipelines.infra.yaml

change path
  azure-pipelines.maven.yaml
Due: none

add /
  azure-pipelines.docker-template.yaml
Due: none

add configRest.json
  azure-pipelines.maven.yaml
Due: none

add helm rbac
  example/deployment/helm/helm-rbac.yaml
Due: none

add rbac
  azure-pipelines.infra.yaml
  example/deployment/azure-infra/terraform/k8s/container-health-rabc.yaml
  example/deployment/azure-infra/terraform/k8s/helm-rbac.yaml
Due: azure-pipelines.infra.yaml

add share
  example/deployment/azure-infra/terraform/acr/default.tfvars
  example/deployment/azure-infra/terraform/aks/default.tfvars
  example/deployment/azure-infra/terraform/default.tfvars
  example/deployment/azure-infra/terraform/fileshare/main.tf
  example/deployment/azure-infra/terraform/fileshare/variables.tf
  example/deployment/azure-infra/terraform/ingress-ip/default.tfvars
  example/deployment/azure-infra/terraform/main.tf
  example/deployment/azure-infra/terraform/oms/default.tfvars
  example/deployment/azure-infra/terraform/variables.tf
  example/deployment/azure-infra/terraform/vnet/default.tfvars
Due: azure-pipelines.infra.yaml

change var name
  example/deployment/azure-infra/terraform/fileshare/main.tf
Due: azure-pipelines.infra.yaml

fix var name
  example/deployment/azure-infra/terraform/fileshare/variables.tf
Due: azure-pipelines.infra.yaml

move yaml
  example/deployment/Kubernetes/configure-services.yaml
  example/deployment/azure-infra/k8s/config-share-secret.yaml
  example/deployment/azure-infra/k8s/container-health-rabc.yaml
  example/deployment/azure-infra/k8s/helm-rbac.yaml
Due: none

Tidy some code and doc
  example/deployment/bash-scripts/formatOutput.sh
  example/deployment/local-docker/README.md
  example/deployment/local-docker/bash-scripts/runFormattedLocalDockerExample.sh
  example/deployment/local-jvm/README.md
  example/deployment/local-jvm/bash-scripts/runFormattedLocalJVMExample.sh
  example/example-model/src/main/java/uk/gov/gchq/palisade/example/config/ExampleConfigurator.java
Due: azure-pipelines.docker.yaml

Fixed up docker examaple
  example/deployment/bash-scripts/setScriptPath.sh
  example/deployment/local-docker/bash-scripts/dockerCleanSystem.sh
  example/deployment/local-docker/bash-scripts/dockerComposeDown.sh
  example/deployment/local-docker/bash-scripts/dockerComposeUp.sh
  example/deployment/local-docker/bash-scripts/runFormattedLocalDockerExample.sh
  example/deployment/local-docker/bash-scripts/runLocalDockerExample.sh
Due: azure-pipelines.docker.yaml

Fix local scripts
  example/deployment/bash-scripts/setScriptPath.sh
  example/deployment/local-jvm/bash-scripts/configureExamples.sh
  example/deployment/local-jvm/bash-scripts/configureServices.sh
  example/deployment/local-jvm/bash-scripts/runFormattedLocalJVMExample.sh
  example/deployment/local-jvm/bash-scripts/runLocalJVMExample.sh
  example/deployment/local-jvm/bash-scripts/startAllServices.sh
  example/deployment/local-jvm/bash-scripts/startConfigService.sh
  example/deployment/local-jvm/bash-scripts/startDataService.sh
  example/deployment/local-jvm/bash-scripts/startPalisadeService.sh
  example/deployment/local-jvm/bash-scripts/startPolicyService.sh
  example/deployment/local-jvm/bash-scripts/startRedirector.sh
  example/deployment/local-jvm/bash-scripts/startResourceService.sh
  example/deployment/local-jvm/bash-scripts/startUserService.sh
Due: none

add data share
  example/deployment/Kubernetes/configure-services.yaml
  example/deployment/Kubernetes/data-service-claim0-persistentvolumeclaim.yaml
  example/deployment/Kubernetes/data-service.yaml
  example/deployment/Kubernetes/resource-service-claim0-persistentvolumeclaim.yaml
  example/deployment/Kubernetes/resource-service.yaml
  example/deployment/azure-infra/k8s/config-share-secret.yaml
  example/deployment/azure-infra/k8s/create_share_secret.sh
  example/deployment/azure-infra/terraform/default.tfvars
Due: azure-pipelines.infra.yaml

WIP: Randoms not shared correctly across threads
  example/hr-data-generator/src/main/java/uk/gov/gchq/palisade/example/hrdatagenerator/types/Address.java
  example/hr-data-generator/src/test/java/uk/gov/gchq/palisade/example/hrdatagenerator/EmployeeTest.java
Due: none

add helm
  example/deployment/helm/old/NOTES.txt
  example/deployment/helm/old/_helpers.tpl
  example/deployment/helm/old/deployment.yaml
  example/deployment/helm/old/ingress.yaml
  example/deployment/helm/old/service.yaml
  example/deployment/helm/palisade/.helmignore
  example/deployment/helm/palisade/Chart.yaml
  example/deployment/helm/palisade/templates/config-service.yaml
  example/deployment/helm/palisade/templates/configure-services.yaml
  example/deployment/helm/palisade/templates/data-service.yaml
  example/deployment/helm/palisade/templates/etcd.yaml
  example/deployment/helm/palisade/templates/palisade-service.yaml
  example/deployment/helm/palisade/templates/policy-service.yaml
  example/deployment/helm/palisade/templates/resource-service.yaml
  example/deployment/helm/palisade/templates/rest-redirector.yaml
  example/deployment/helm/palisade/templates/tests/test-connection.yaml
  example/deployment/helm/palisade/values.yaml
Due: none

set service account
  azure-pipelines.infra.yaml
Due: azure-pipelines.infra.yaml

remove test
  example/deployment/helm/old/test-connection.yaml
Due: none

remove trigger
  azure-pipelines.k8s.yaml
Due: none

Update example/example-model/src/main/java/uk/gov/gchq/palisade/example/config/ExampleConfigurator.java
  example/example-model/src/main/java/uk/gov/gchq/palisade/example/config/ExampleConfigurator.java
Due: none

determinsm
  example/hr-data-generator/pom.xml
  example/hr-data-generator/src/main/java/uk/gov/gchq/palisade/example/hrdatagenerator/types/Address.java
  example/hr-data-generator/src/main/java/uk/gov/gchq/palisade/example/hrdatagenerator/types/EmergencyContact.java
  example/hr-data-generator/src/main/java/uk/gov/gchq/palisade/example/hrdatagenerator/types/Employee.java
  example/hr-data-generator/src/main/java/uk/gov/gchq/palisade/example/hrdatagenerator/types/Relation.java
  example/hr-data-generator/src/main/java/uk/gov/gchq/palisade/example/hrdatagenerator/types/ThreadLocalFaker.java
  example/hr-data-generator/src/test/java/uk/gov/gchq/palisade/example/hrdatagenerator/EmployeeTest.java
Due: none

determinsm
  example/hr-data-generator/src/main/java/uk/gov/gchq/palisade/example/hrdatagenerator/types/Address.java
Due: none

bug investigation
  example/hr-data-generator/src/main/java/uk/gov/gchq/palisade/example/hrdatagenerator/CreateDataFile.java
Due: none

gregorian fix
  example/hr-data-generator/src/main/java/uk/gov/gchq/palisade/example/hrdatagenerator/CreateDataFile.java
  example/hr-data-generator/src/main/java/uk/gov/gchq/palisade/example/hrdatagenerator/utils/DateHelper.java
Due: none

merged azure AKS scripts
  example/deployment/Azure-AKS/devops-pipelines/azure-pipelines.docker-template.yaml
  example/deployment/Azure-AKS/devops-pipelines/azure-pipelines.docker.yaml
  example/deployment/Azure-AKS/devops-pipelines/azure-pipelines.infra.yaml
  example/deployment/Azure-AKS/devops-pipelines/azure-pipelines.k8s.yaml
  example/deployment/Azure-AKS/devops-pipelines/azure-pipelines.maven.yaml
  example/deployment/Azure-AKS/k8s/container-health-rabc.yaml
  example/deployment/Azure-AKS/k8s/create_share_secret.sh
  example/deployment/Azure-AKS/k8s/helm-rbac.yaml
  example/deployment/Azure-AKS/terraform/acr/README.md
  example/deployment/Azure-AKS/terraform/acr/main.tf
  example/deployment/Azure-AKS/terraform/acr/variables.tf
  example/deployment/Azure-AKS/terraform/aks/main.tf
  example/deployment/Azure-AKS/terraform/aks/output.tf
  example/deployment/Azure-AKS/terraform/aks/variables.tf
  example/deployment/Azure-AKS/terraform/backend.tf
  example/deployment/Azure-AKS/terraform/default.tfvars
  example/deployment/Azure-AKS/terraform/fileshare/main.tf
  example/deployment/Azure-AKS/terraform/fileshare/variables.tf
  example/deployment/Azure-AKS/terraform/ingress-ip/main.tf
  example/deployment/Azure-AKS/terraform/ingress-ip/variables.tf
  example/deployment/Azure-AKS/terraform/main.tf
  example/deployment/Azure-AKS/terraform/oms/main.tf
  example/deployment/Azure-AKS/terraform/oms/variables.tf
  example/deployment/Azure-AKS/terraform/variables.tf
  example/deployment/Azure-AKS/terraform/vnet/main.tf
  example/deployment/Azure-AKS/terraform/vnet/variables.tf
Due: none

fix
  example/hr-data-generator/src/main/java/uk/gov/gchq/palisade/example/hrdatagenerator/CreateDataFile.java
Due: none

test no longer throws exception
  example/hr-data-generator/pom.xml
  example/hr-data-generator/src/main/java/uk/gov/gchq/palisade/example/hrdatagenerator/CreateDataFile.java
  example/hr-data-generator/src/test/java/uk/gov/gchq/palisade/example/hrdatagenerator/EmployeeTest.java
Due: none

better consistency
  example/hr-data-generator/src/main/java/uk/gov/gchq/palisade/example/hrdatagenerator/types/Address.java
  example/hr-data-generator/src/main/java/uk/gov/gchq/palisade/example/hrdatagenerator/types/Employee.java
  example/hr-data-generator/src/test/java/uk/gov/gchq/palisade/example/hrdatagenerator/EmployeeTest.java
Due: none

progress
  example/hr-data-generator/src/main/java/uk/gov/gchq/palisade/example/hrdatagenerator/CreateDataFile.java
Due: none
